.content{
    border: #ec1b1b 1px solid;
    height: 800px;
    display: flex;
    flex-direction: row;
}
.photo img{
    width: 100%;
    height: 800px;
}
.form{
    background-color: #270a0a;
    width: 600px;
}
.form h1{
    color: #c7c1c1;
    font-size: 20px;
    margin: 50px 60px;
}
.first input{
    background-color: #270a0a;
    width: 310px;
    float: left;
    margin-left: 60px;
    display: flex;
    border: none;
    border-bottom: 2px solid #b39228b0;
    outline: none;
    text-decoration: none;
    font-size: 15px;
}
.first p{
font-size: 15px;
    color: #b39228b0;
    margin: 10px 60px;
}
.second select{
    background-color:#270a0a;
    color: #a19c9ccc;
    border: none;
    display: flex;
    border: none;
    font-size: 15px;
    position: absolute;
    margin: 120px 350px;
    outline: none;
    text-decoration: none;
}
.second input{
    width: 310px;
    display: flex;
    border: none;
    border-bottom: 2px solid #c7c1c1;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    background-color: #270a0a;
   margin-left: 60px;    
}
.third select{
   background-color:#270a0a;
   color: #a19c9ccc;
   border: none;
   display: flex;
   border: none;
   font-size: 15px;
   position: absolute;
   margin-left: 350px;
   outline: none;
    text-decoration: none;
 }
 .third input{
    width: 310px;
    display: flex;
    border: none;
    border-bottom: 2px solid #c7c1c1;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    background-color: #270a0a;
   margin: 40px 60px;
 }
.middle input, .last input{
    background-color: #270a0a;
    width: 310px;
    float: left;
    margin: 40px 60px;
    display: flex;
    background-color:#270a0a;
    border: none;
    border-bottom: 2px solid #c7c1c1;
    outline: none;
    text-decoration: none;
    font-size: 15px;
}
.text h2{
    color: #c7c1c1;
    font-size: 18px;
    float: left;
    margin: auto;
    margin: 10px 60px 30px;
    
}
.cadre2{
    width: 350px;
    height: 80px;
  /* border: #f8e8e8 1px solid;*/
    margin: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.une p, .deux p, .trois p, .quatre p, .cinq p{
    background-color: #c7c1c1;
    color: #000;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    float: left;
    margin: auto;
    margin: 5px 15px;
}
.milieu h6{
    display: flex;
    flex-direction: row;
    float: right;
    margin: auto;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 15px;
    color: #270a0a;
}
.milieu{
    background-color: #b39228b0;
    width: 120px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
}
.regist input{
    width: 130px;
    height: 50px;
    background-color: #b39228b0;    
    color: #c7c1c1;
    margin-left: 60px;
    justify-content: center;
    border: none;
}
.last p{
    font-size: 15px;
    color: #b39228b0;
    margin: 10px 60px;
}

